@if (ViewBag.ErrorTitle == null)
{
    <h3>An unexpected error has occured. Please try again later</h3>
}
else
{
    <h1 class="text-danger">@ViewBag.ErrorTitle</h1>
    <h6 class="text-danger">@ViewBag.ErrorMessage</h6>
}
<a class="btn btn-primary" asp-action="GetAll" asp-controller="Home">Return to homepage.</a>    